* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*________________

DEBUG
__________________ */

.debug .headertop {
    height: 96px;
    background-color: #add8e6;
    align-items: center;
}

.debug .navigator {
    height: 56px;
    background-color: #daa520;
}

.debug .navigator > * {
    border: 2px dashed black;
}

.debug .headerbottom {
    background-color: #00008b;
    height: 600px;
}

.debug .boxfucsia{
    background-color:#ee82ee; 
    height: 480px;
    border: 2px dashed black;
}

.debug .row {
    height: 600px;
}

.debug .largecol  {
    background-color: #1e90ff;
    border: 2px dashed black;
}

.debug .smallcol  {
    background-color: #ffc0cb;
    border: 2px dashed black;
}

.debug  .greenbox  {
    background-color: #228b22;
    border: 2px dashed black;
    height: 1100px;
}

.debug .footerrow {
    height: 700px;
}

.debug  .footercol:first-child {
    background-color: #f08080;
    border: 2px dashed black;
}

.debug  .footercol {
    background-color: #20b2aa;
    border: 2px dashed white;
}

.debug .footernavigator {
    background-color: #7fffd4;
    height: 92px;  
}

.debug .footernavigator>* {
    background-color: #ffb6c1;
    height: 52px; 
    border: 2px dashed black; 
}
/*________________

HEADER
__________________ */

.headertop {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigator {
    display: flex;
    width: 60%;
    margin: 20px 0;
}

.navigator > * {
    display: flex;
    align-items: center;
}

.links {
    width: 60%;
    justify-content: center;
}

.logo {
    width: 20%;
}

.login {
    width: 20%;
    justify-content: flex-end;
}

.headerbottom {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #add8e6;
}

.boxfucsia {
    width: 50%;

}

/*________________

MAIN
__________________ */

main>section {
    display: flex;
    align-content: center;
    justify-content: center;
}

main>section:nth-child(even) {
    background-color: #d3d3d3;
}

.row {
    display: flex;
    width: 60%;
    margin: 64px 0;
}

.largecol {
    width: 60%;
}

.smallcol {
    width: 40%;
}


.greenbox {
    width: 66%;
    margin: 60px 0;
}

main:last-child{
    display: flex;
    align-content: center;
    justify-content: center;
}

/*________________

FOOTER

__________________ */

footer>section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #23272a;
}

.footertop {
    border-bottom: 2px solid #d4d5d5;
    align-items: center;
}

.footerrow {
    display: flex;
    width: 60%;
    margin-top: 12px;
    margin-bottom: 48px;
}

.footerrow>* {
    flex-grow: 1;
}

.footercol:first-child {
    flex-grow: 2;
}

.footernavigator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 0;
    width: 60%;
}

.footernavigator>* {
    display: flex;
    padding: 10px;
}

.bottone {
    justify-content: flex-end;
}