* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*________________

DEBUG
__________________ */



/*________________

HEADER
__________________ */

/*________________

MAIN
__________________ */

/*________________

FOOTER

__________________ */